<app-example-view>
    <div [appLoadingDirective]="service.isLoading" [position]="service.position" [theme]="service.theme" [size]="service.size"
    [isOverlay]="service.isOverlay">
        <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Ab cumque pariatur excepturi illum ipsum blanditiis deleniti obcaecati.
            Inventore ut distinctio architecto laudantium eveniet, dignissimos vitae,
            dolorem illum sit facere quam.</div>
    </div>
</app-example-view>

<p>Note: this is not real attribute directive because it modify the DOM's structure</p>


<pre>
    <code [highlight]="playgroundSample()" [languages]="['html']" [lineNumbers]='true'></code>
</pre>

<app-controls></app-controls>

<h2>To DO</h2>
<ul>
    <li>add custom loading template (medium effort)</li>
</ul>
<h2>Pros</h2>
<ul>
    <li>easy to use</li>
    <li>medium code complexity</li>
</ul>
<h2>Cons</h2>
<ul>
    <li>is directive!</li>
    <li>content is not removed only hidden by css</li>
    <li>hide by css is hacky (we basicly change all children styles!)</li>
    <li>we change parent node styles!</li>
    <li>we add new node elements inside parent component</li>
    <li>can case problems in web worker / ssr (need to verify)</li>
</ul>