<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Component">
    <div class="container">
      <app-component-example-root></app-component-example-root>
    </div>
  </mat-tab>
  <mat-tab label="Structural Directive">
    <div class="container">
      <app-structural-directive-example-root></app-structural-directive-example-root>
    </div>
  </mat-tab>
  <mat-tab label="Attribute Directive">
    <div class="container">
      <app-attribute-directive-example-root></app-attribute-directive-example-root>
    </div>
  </mat-tab>
</mat-tab-group>